
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
header {
    background-color: #1B263B;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0 5%;
}

header .logo a {
    font-size: 25px;
    color: #29d9d5;
    text-decoration: none;
}

header .logo a span {
    color: #fff;
}

.menu {
    display: flex;
    align-items: center;
}

.menu li {
    margin: 0 15px;
    list-style-type: none;
}

.menu li a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}

.btn-reservation {
    color: #29d9d5;
    font-size: 14px;
    border: 2px solid #29d9d5;
    padding: 5px 20px;
    transition: 0.5s;
    font-weight: bolder;
    text-decoration: none;
}

.btn-reservation:hover {
    background-color: #29d9d5;
    color: #fff;
}

/* Body et Formulaire */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 70px 20px 20px;
    background-color: #0D1B2A;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

form {
    max-width: 400px;
    background: #1B263B;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    width: 100%;
}

.error-message {
    color: #ff0000;
    text-align: center;
    margin-bottom: 15px;
    font-size: 14px;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #2a3752;
    border-radius: 5px;
    background: #0D1B2A;
    color: #fff;
    box-sizing: border-box;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #0D1B2A;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

button:hover {
    background-color: #2a3752;
}